PumpClient/Connected Services/PumpServiceReference/PumpService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PumpService.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PumpService.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StatisticsService">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllExecutions" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorExecutions" type="xs:int" />
      <xs:element minOccurs="0" name="SuccessExecutions" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatisticsService" nillable="true" type="tns:StatisticsService" />
</xs:schema>